body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.node-circ {
  fill: white;
  stroke: black;
  stroke-width: 1.5;
  cursor: move;
}

.node-text {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
  user-select: none;
}

.link-line {
  stroke-width: 1.5;
}

/* Set the arrowhead size. */
.arrow {
  stroke-width: 1.5px;
  stroke: rgb(0, 0, 0);
}
.tbContainer {
  position: absolute;
  overflow: hidden;
  padding: 2px;
  left: 8px;
  top: 80px;
  width: 24px;
  bottom: 0px;
}
